<div class="contact-container" id="contact">
  <h2 class="section-title">Reach out!</h2>
  <form data-netlify="true" class="contact-form">
    <div class="contact-top-inputs-container">
      <input type="text" class="contact-input top-inputs" placeholder="Name" />
      <input type="text" class="contact-input top-inputs" placeholder="Email" />
    </div>
    <div class="contact-bottom-inputs-container">
      <input type="text" class="contact-input" placeholder="Subject" />
      <textarea class="contact-input textarea" placeholder="Message"></textarea>
    </div>
    <div class="contact-button-container">
      <button type="submit" class="contact-button">Send</button>
      <button type="reset" class=" contact-button clear-button">Clear Form</button>
    </div>
  </form>
</div>