<div class="contact-container" id="contact">
  <form action="" class="contact-form">
    <div class="name-email-container">
      <input type="text" class="name-email-input" />
      <input type="text" class="name-email-input" />
    </div>
    <input type="text" class="contact-input" />
    <input type="text-area" class="contact-input" />
    <div class="contact-button-container">
      <button class="contact-button">Send</button>
      <button class="contact-button">Clear Form</button>
    </div>
  </form>
</div>