<div class="contact-container" id="contact">
  <div action="" class="contact-form">
    <div class="contact-top-inputs-container">
      <input type="text" class="contact-input top-inputs" placeholder="Name" />
      <input type="text" class="contact-input top-inputs" placeholder="Email" />
    </div>
    <div class="contact-bottom-inputs-container">
      <input type="text" class="contact-input" placeholder="Subject" />
      <textarea class="contact-input textarea" placeholder="Message"></textarea>
    </div>
    <div class="contact-button-container">
      <button class="contact-button">Send</button>
      <button class="contact-button">Clear Form</button>
    </div>
  </div>
</div>