.header-container {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0px 0px 5px 0px rgba(175, 175, 175, 0.75);
  padding: 20px 0;
  margin: 60px 0 10px 0;
  background-color: white;
  background-image: url("../../../assets/images/header-image.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    transition: ease-in-out 0.3s;

    &:hover {
      box-shadow: 0px 0px 5px 0px rgba(175, 175, 175, 0.75);
    }
  }

  .header-text {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: #005164;
    color: white;

    .text-large {
      font-size: 40px;
      align-self: center;
      @media (max-width: 500px) {
        font-size: 30px;
      }
    }

    .text-small {
      margin-top: 10px;
      font-size: 18px;

      @media (max-width: 500px) {
        font-size: 12px;
      }
    }
  }

  .button {
    background-color: #014b5c;
    color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 6px;
    font-size: 18px;
    box-shadow: 0px 0px 5px 0px rgba(241, 240, 240, 0.75);
    transition: ease-in-out 0.3s;
    text-decoration: none;

    &:hover {
      background-color: #003c49;
    }
  }
}
