<div class="header-container">

  <img class="profile-image" src="../../../assets/images/profile-image.jpg" />
  <div class="header-text">
    <h1 class="text-large">Hi! I'm Angel Torres.</h1>
    <p class="text-small">I'm a Full Stack Developer from Houston TX You can see my work below!</p>
  </div>
  <!-- <a href="#skills" class="button">Learn about what I do</a> -->
  <div class="social-links">

    <a class="title-container" target="_blank" href="https://lambdaschool.com/">
      <div class="work-status">
        <div >
          <p class="title">Current</p>
          <!-- <p class="title">Section Lead</p> -->
        </div>
          <img class="work-logo" src="../../../assets/images/lambda-logo.png"/>
      </div>
    </a>

    <a target="_blank" href="https://github.com/angel-torres">
      <img class="contact-icon" src="https://img.icons8.com/ios-filled/50/000000/github.png" />
    </a>

    <a target="_blank" href="https://www.linkedin.com/in/angel-torres-1b4390172/">
      <img class="contact-icon" src="https://img.icons8.com/ios-filled/50/000000/linkedin-2.png" />
    </a>

    <!-- <a target="_blank" href="https://www.linkedin.com/in/angel-torres-1b4390172/">
      <img class="contact-icon" src="https://img.icons8.com/ios-filled/50/000000/linkedin-2.png" />
    </a> -->
  </div>
</div>