nav {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  height: 60px;
  background-color: whitesmoke;
  box-shadow: 5px;
  align-items: center;
  color: black;

  border: 1px solid whitesmoke;
}
