<div class="skills-container" id="skills">
  Check out my skills!
  <div class="skill-cards-container">
    <div class="skill-card">
      <img class="skill-logo" src="../../../assets/images/javascript-logo.png" />
    </div>
    <div class="skill-card">
      <img class="skill-logo" src="../../../assets/images/node-logo.png" />
    </div>
    <div class="skill-card">
      <img class="skill-logo" src="../../../assets/images/react-logo.png" />
    </div>
    <div class="skill-card">
      <img class="skill-logo" src="../../../assets/images/angular-logo.png" />
    </div>
    <div class="skill-card">
      <img class="skill-logo" src="../../../assets/images/html-logo.png" />
    </div>
    <div class="skill-card">
      <img class="skill-logo" src="../../../assets/images/less-logo.png" />
    </div>
    <div class="skill-card">
      <img class="skill-logo" src="../../../assets/images/redux-logo.png" />
    </div>
    <div class="skill-card">
      <img class="skill-logo" src="../../../assets/images/google-cloud-logo.png" />
    </div>
    <div class="skill-card">
      <img class="skill-logo" src="../../../assets/images/sql-logo.jpg" />
    </div>
    <div class="skill-card">
      <img class="skill-logo" src="../../../assets/images/knex-logo.png" />
    </div>
    <div class="skill-card">
      <img class="skill-logo" src="../../../assets/images/git-logo.png" />
    </div>
    <div class="skill-card">
      <img class="skill-logo" src="../../../assets/images/postgres-logo.png" />
    </div>
    <div class="skill-card">
      <img class="skill-logo" src="../../../assets/images/express-logo.png" />
    </div>
    <div class="skill-card">
      <img class="skill-logo" src="../../../assets/images/python-logo.png" />
    </div>
    <div class="skill-card">
      <img class="skill-logo" src="../../../assets/images/bootstrap-logo.gif" />
    </div>
    <div class="skill-card">
      <img class="skill-logo" src="../../../assets/images/mongodb.png" />
    </div>
  </div>
</div>