.skills-container {
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0 10px 0;
  border: 1px solid red;
  padding: 20px;

  .skill-cards-container {
    flex-direction: column;
    justify-content: center;
    border: 1px solid blue;
    height: 50px;
  }
}
