.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0 10px 0;
  padding: 20px;
  font-size: 20px;
  justify-content: space-between;

  .project-cards-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;

    .project-card {
      max-width: 350px;
      margin: 10px;
      border-radius: 5px;
      box-shadow: 0px 0px 5px 0px rgba(175, 175, 175, 0.75);
      background-color: white;
      position: relative;
      height: 500px;

      @media (max-width: 800px) {
        width: 100%;
        max-width: 500px;
      }

      .project-mockup {
        width: 100%;
        height: 40%;
        border-radius: 5px 5px 0 0;
      }

      .project-text-container {

        .project-description {
          padding-top: 10px;
          line-height: 18px;
          font-size: medium;
          font-family: 'Hind', sans-serif;
          line-height: 1.5;  
          padding: 0 20px;
        }


        .project-title {
          padding: 10px;
          margin-bottom: 20px;
          border-bottom: .4px solid whitesmoke;
          font-weight: bolder;
          text-align: center;
        }
      }
      .project-link {
        text-decoration: none;
        color: black;
        display: block;
        text-align: center;
        margin: 20px;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0px 0px 3px 0px lightgrey;
        margin: 20px;
        position: absolute;
        bottom: 0;
        left: 65px;
      }
    }
  }
}
