<div class="projects-container" id="projects">
  These are my projects
  <div class="project-cards-container">

    <div class="project-card">
      <a href="https://www.beabravone.com/" target="_blank">
        <img class="project-mockup" src="../../../assets/images/brav.png" />
      </a>
      <div class="project-text-container">
        <h3 class="project-title">BRAV</h3>
        <p class="project-description">Brav is a mediation platform in which people in conflict can seek help from professional mediators. This project was build using Postgres, Express, React. Some of the third party API's used were Firebase, Sendgrid, MaterialUI, and Stripe.</p>
      </div>
      <a class="project-link" href="https://github.com/labs14-brav" target="_blank">View on Github</a>
    </div>
    <!-- <div class="project-card">
      <h3 class="project-title">CALLIOPE</h3>
      <a href="https://calliope.netlify.com/" target="_blank">
        <img class="project-mockup" src="../../../assets/images/calliope.png" />
      </a>
      <p class="project-description">Calliope is an app that lets poem enthusiasts and writers share their poems. It was built using React, SlateJS, and Google's Cloud Firestore. I built this project mainly on my own to understand certain features of React and Firebase.</p>
      <a class="project-link" href="https://github.com/angel-torres/calliope" target="_blank">View on Github</a>
    </div> -->
    <div class="project-card">
      <a href="https://jada-mud.netlify.com/dashboard" target="_blank">
        <img class="project-mockup" src="../../../assets/images/jada.png" />
      </a>
      <div class="project-text-container">
        <h3 class="project-title">JADA</h3>
        <p class="project-description">Jada is a MUD client that allows users to traverse a map and find other users in the different rooms. It was built using React in the front end and a Django REST API. This project was built during my first build week of the computer science portion of the Lambda School curriculum.</p>
      </div>
      <a class="project-link" href="https://github.com/CS-LABS-JADA" target="_blank">View on Github</a>
    </div>
    <div class="project-card">
      <a href="https://rick-and-morty-characters.netlify.com/" target="_blank">
        <img class="project-mockup" src="../../../assets/images/rick-and-morty.png" />
      </a>
      <div class="project-text-container">
        <h3 class="project-title">Rick and Morty</h3>
        <p class="project-description">Rick and Morty is a character database for the show Rick and Morty. I built this using AngularJS. I mainly built this project to begin to understand some of Angular's core concepts. The biggest take away from this project was learning about Angular's powerful CLI. It makes it so easy to creat components.</p>
      </div>
      <a class="project-link" href="https://github.com/angel-torres/angular-rick-morty-app" target="_blank">View on Github</a>
    </div>
    <div class="project-card">
      <a href="https://savemyrecipe.netlify.com/" target="_blank">
        <img class="project-mockup" src="../../../assets/images/recipes-app.png" />
      </a>
      <div class="project-text-container">
        <h3 class="project-title">Recipes App</h3>
        <p class="project-description">Recipes App is a full stack application. I built the backend server using TypeScript, MongoDB, Mongoose, and ExpressJS. I built the front end using TypeScript and ReactJS. The biggest take away from this project was learning to use TypeScript which provides very useful features like static typing and some very nice intellisense.</p>
      </div>
      <a class="project-link" href="https://github.com/angel-torres/typescript-react" target="_blank">View on Github</a>
    </div>
    <!-- <div class="project-card">
      <h3 class="project-title"></h3>
      <img class="project-mockup"
        src="https://www.justinmind.com/blog/wp-content/uploads/2018/02/what-is-screen-mockup-header.png" />
      <p class="project-description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo similique sunt velit
        molestiae amet dicta quos fuga in quas inventore id assumenda omnis laboriosam, ducimus, officiis doloremque.
        Nobis, recusandae quod!</p>
    </div> -->

  </div>
</div>